a{
    cursor: pointer;
}

main{    
    position: relative;    
    top:50px;    
    z-index: 4;
}
.fundo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    border: black solid 1px;
    background-color: #00796B;    
}

footer{
    position: absolute;
    width: 100%;
    bottom:0;
    left: 0; 
}
.box-shadow{
    box-shadow: 15px 15px 40px #000; 
}
.add-button{
    position: absolute;
    bottom: 15px;
    right: 5px;
    z-index: 10;
}
.btn-fab.btn-success{
    box-shadow: inset 1px 1px 10px #388E3C;
}
.btn.btn-fab.btn-success:hover{
    -webkit-transition: opacity, 1s;
    -moz-transition: opacity, 1s;
    transition: opacity, 1s;
    background-color: rgba(100, 155, 100, 1);
}